
/**
 * @file
 * The base style of shopping cart.
 */
 
.num-minus,
.num-plus {
  background: #fff;
  border: 1px solid #666;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
}

.food-order {
  padding: 0 5px;
}

.add-to-cart {
  cursor: pointer;
}

#edit-name,
#edit-phone,
#edit-address {
  width: 160px;
}

.food-item .food-price,
.food-item .food-name {
  width: 100px;
  display: inline-block;
  overflow: hidden;
}

.food-item .food-remove {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #666;
  border-radius: 5px;
  background: #fff;
  padding: 0 5px;
  margin-top: 5px;
}

.view-views-of-foods .views-field-nid {
  float: right;
  margin: -45px 20px 0 0;
}

.view-views-of-foods .views-field-title {
  margin-top: 6px;
  width: 90px;
  overflow: hidden;
}

.add-to-cart {
  border: 1px solid #666;
  border-radius: 5px;
  background: #fff;
  padding: 0 10px;
  margin: 5px 0 0 -5px;
}